/* Estilo básico para el componente dispositivos */
.panel {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .datatable {
    margin-top: 2rem;
  }
  
  .actions-container {
    margin-top: 2rem;
  }
  