<div class="min-h-screen flex flex-col justify-center items-center bg-gray-100 dark:bg-[#121212] p-8">

  <!-- Título principal -->
  <div class="mb-8 text-center">
    <h5 class="text-2xl font-semibold text-gray-900 dark:text-white-light">Consulta de Anuncios</h5>
  </div>

  <!-- Barra para alternar entre "Hoy" y "Todos" -->
  <div class="mb-5 flex justify-center items-center">
    <button
      class="btn btn-secondary w-1/4"
      (click)="toggleAnunciosMode()">
      Mostrar {{ isAnunciosHoy ? 'Todos' : 'Hoy' }} los anuncios
    </button>
  </div>

  <!-- Contenedor de anuncios -->
  <div class="w-full max-w-4xl flex flex-col gap-8">
    <!-- Anuncios recientes -->
    <div class="w-full">
      <h5 class="text-primary text-lg text-center font-bold mb-5">Anuncios Recientes</h5>

      <!-- Lista de anuncios -->
      <div class="space-y-6">
        <div *ngFor="let anuncio of (isAnunciosHoy ? anuncios : anunciosTodos)" class="flex justify-center">
          <div class="w-full max-w-[30rem] rounded-lg border border-[#e0e6ed] bg-white shadow-lg p-6">

            <!-- Contenido del anuncio -->
            <div class="flex flex-col space-y-6">
              <!-- Título y botones (Editar y Eliminar) -->
              <div class="flex justify-between items-center">
                <div>
                  <p class="font-bold text-lg text-primary">{{ anuncio.titulo }} <span class="font-medium text-gray-600">{{ anuncio.comercio }}</span></p>
                </div>
                <div class="flex space-x-3">
                  <!-- Botón Editar -->
                  <button type="button" class="btn btn-primary" (click)="openModal(modal20, anuncio)">Editar</button>

                  <!-- Botón Eliminar -->
                  <button type="button" class="btn btn-danger" (click)="openDeleteModal(anuncio)">Eliminar</button>
                </div>
              </div>

              <!-- Modal para Editar -->
              <ngx-custom-modal #modal20 customClass="modal-top auth-modal">
                <ng-template #modalHeader>
                  <div class="!py-5 text-center font-semibold">Editar Anuncio</div>
                </ng-template>

                <ng-template #modalBody>
                  <!-- Título -->
                  <label for="ctnTitle" class="block">Título:</label>
                  <input 
                    id="ctnTitle" 
                    type="text" 
                    [(ngModel)]="selectedAnuncio.titulo" 
                    placeholder="Título del anuncio" 
                    class="form-input w-full mb-4" 
                    required
                  />

                  <!-- Contenido del Mensaje -->
                  <label for="ctnDescription" class="block">Contenido del mensaje:</label>
                  <input 
                    id="ctnDescription" 
                    *ngIf="!isAudio" 
                    [(ngModel)]="selectedAnuncio.contenidoDelMensaje"
                    type="text" 
                    placeholder="Contenido del mensaje"
                    class="form-input w-full mb-4" 
                    required
                  />

                  <!-- Cargar archivo si es audio -->
                  <input 
                    *ngIf="isAudio" 
                    type="file" 
                    (change)="onFileSelected($event)" 
                    class="form-input w-full mb-4"
                    [value]="selectedAnuncio.contenidoDelMensaje"
                    required
                  />

                  <!-- Fecha del anuncio -->
                  <label for="ctnFecha" class="block">Fecha:</label>
                  <input 
                    id="ctnFecha" 
                    type="datetime-local" 
                    [(ngModel)]="selectedAnuncio.fechaMensaje"
                    class="form-input w-full mb-4"
                    required
                  />

                  <!-- Residente -->
                  <label class="block">Residente:</label>
                  <ng-select 
                    [(ngModel)]="selectedResidenteId" 
                    [items]="residentes" 
                    bindLabel="nombre" 
                    bindValue="idResidente" 
                    placeholder="Seleccione un residente"
                    [clearable]="true"
                    required
                    (ngModelChange)="onResidenteSelected()">
                  </ng-select>

                  <!-- Checkbox para seleccionar si es audio -->
                  <div>
                    <label>
                      <input 
                        type="checkbox" 
                        [(ngModel)]="isAudio" 
                        (change)="onAudioChange()" 
                      />
                      ¿Es audio?
                    </label>
                  </div>
                </ng-template>

                <ng-template #modalFooter>
                  <div class="flex justify-around">
                    <!-- Botón Guardar -->
                    <button 
                      type="button" 
                      class="btn btn-success" 
                      (click)="updateAnuncio(selectedAnuncio.idMensaje, { 
                        titulo: selectedAnuncio.titulo, 
                        contenidoDelMensaje: selectedAnuncio.contenidoDelMensaje, 
                        fechaMensaje: selectedAnuncio.fechaMensaje, 
                        esAudio: selectedAnuncio.esAudio, 
                        idResidente: selectedResidenteId 
                      })">
                      Guardar
                    </button>

                    <!-- Botón Cancelar -->
                    <button 
                      type="button" 
                      class="btn btn-danger" 
                      (click)="modal20.close()">
                      Cancelar
                    </button>
                  </div>
                </ng-template>
              </ngx-custom-modal>

              <!-- Modal de confirmación para Eliminar -->
              <ngx-custom-modal #deleteModal customClass="modal-top auth-modal">
                <ng-template #modalHeader>
                  <div class="!py-5 text-center font-semibold">Eliminar Anuncio</div>
                </ng-template>

                <ng-template #modalBody>
                  <p class="text-center">¿Estás seguro de que deseas eliminar este anuncio?</p>
                </ng-template>

                <ng-template #modalFooter>
                  <div class="flex justify-around">
                    <button (click)="deleteAnuncio()" class="btn btn-danger">Eliminar Anuncio</button>
                    <button 
                      type="button" 
                      class="btn btn-secondary" 
                      (click)="deleteModal.close()">
                      Cancelar
                    </button>
                  </div>
                </ng-template>
              </ngx-custom-modal>

              <!-- Detalles del anuncio -->
              <div class="space-y-2">
                <div class="flex justify-between items-center">
                  <h6 class="text-sm font-semibold text-[#3b3f5c] dark:text-white-light">Residente:</h6>
                  <p class="text-sm text-gray-600 dark:text-white-dark">{{ anuncio.residente }}</p>
                </div>
                <div class="flex justify-between items-center">
                  <h6 class="text-sm font-semibold text-[#3b3f5c] dark:text-white-light">Fecha y Hora:</h6>
                  <p class="text-xs text-gray-600 dark:text-white-dark">{{ anuncio.fechaHora | date: 'short' }}</p>
                </div>

                <!-- Si es un anuncio de tipo audio -->
                <div *ngIf="anuncio.esAudio" class="mt-4 p-4 bg-gray-50 dark:bg-[#1f1f1f] rounded-lg shadow-md">
                  <h6 class="font-semibold text-lg text-primary">Archivo de Audio</h6>
                  <!-- Barra de Reproducción -->
                  <audio controls class="w-full mt-2 rounded-lg border-2 border-gray-300">
                    <source [src]="getAudioUrl(anuncio.contenidoDelMensaje)" type="audio/mpeg" />
                    Tu navegador no soporta el elemento de audio.
                  </audio>

                  <!-- Botón de Descargar Audio -->
                  <button class="mt-2 btn btn-secondary" (click)="downloadAudio(anuncio.contenidoDelMensaje)" target="_blank">
                    Descargar Audio
                  </button>
                </div>

                <!-- Si NO es un anuncio de tipo audio, mostrar la descripción -->
                <div *ngIf="!anuncio.esAudio" class="mt-4 p-4 bg-gray-50 dark:bg-[#1f1f1f] rounded-lg shadow-md">
                  <h6 class="font-semibold text-lg text-primary">Descripción del Anuncio</h6>
                  <p class="text-sm text-gray-800 dark:text-white-dark">{{ anuncio.descripcion }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
